{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taller Mecanico Rayo Makween</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body class="fondo">
    <header>
        <div class="cabezon">
            <nav>
                <label class="img1" for="menu-bar"><img src="{% static 'Img/logomcqueen.png' %}" width="95px" height="80"></label>
                <input type="checkbox" name="" id="menu-bar">
                <a href="{% url 'INDEX' %}">Inicio</a>
                
                <a href="{% url 'CONTACTO' %}">Formulario</a>
                <a href="{% url 'LISTADO' %}">Lista de trabajos</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'REGITRA' %}">Registro Atencion</a>
                    <a href="{% url 'CERRAR' %}">Cerrar Sesión</a>
                    <a href="">Bienvenido: {{user.username}}</a>
                {% else %}
                    <a href="{% url 'REGISTRO' %}">Registro Usuario</a>
                    <a href="{% url 'INICIO' %}">Iniciar Sesión</a>
                {% endif %}
                {% csrf_token %}
            </nav>
            <div class="titulo">
                <h1>Taller Mecanico Rayo Makween </h1>
            </div>
        </div>
    </header>
    <div class="container">

        <div class="row">
            <div class="col-12">
                <h1>Listado de Pedidos</h1> 
            </div>  

            <div class="col-12 mt-3 mb-3">
                    <form method="POST">
                        {% csrf_token %}

                        {{ filtro.form }}

                        <h5></h5>
                        <input type= "submit" class="btn btn-secondary"  value="Filtrar">
                    </form>
                </div>
            <div class="col-5">
                <table class=" table">
                    <tr>
                        <th>diagnostico</th>
                        <th>nombre</th>
                        <th>fecha</th>
                        <th>materiales</th>
                        <th>descripcion</th>
                        <th>imagen</th>
                    </tr>
                    
                    {%for x in lista%}
                    <tr>
                        <td>
                            {{x.diagnostico}}
                        </td>
                        
                        <td>
                            {{x.nombre}}
                        </td>
                        
                        <td>
                            {{x.fecha}}
                        </td>

                        <td>
                            {{x.materiales}}
                        </td>

                        <td>
                            {{x.descripcion}}
                        </td>
                        <td>
                            {%if x.imagen%}
                            <img src="{{x.imagen.url}}" alt="imgnula" width="50" height="50">
                            {% endif %}
                        </td>
                    </tr>

                    {% if perms.core.delete_trabajo %}
                            <td> <a href="#" onclick="eliminar({{x.codigo}})"  class="btn btn-primary"> Eliminar </a></td>
                            {% endif %}

                            {% if perms.core.change_trabajo%}
                            <td> <a href="modificar/{{x.codigo}}"class="btn btn-warning"> modificar </a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
            </div>
    </center>
    <footer>
        <center>
            <div class="contenedor">
                <p> Taller Mecanico Rayo Makween </p>
            </div>
        </center>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %} "></script>
    <script src="{% static 'js/popper.min.js' %} "></script>
    <script src="{% static 'js/bootstrap.min.js' %} "></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js%22%3E"></script>
    <script src="{% static 'js/v.js' %}"></script>
    <script src="http://ajax.microsoft.com/ajax/jquery.validate/1.7/additional-methods.js%22%3E"></script>
</body>
<script src="{% static 'js/v.js'%}"></script>
</html>